@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500..900;1,500..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #FFFFFF;
}



.hotline {
    font-size: 20px;
    cursor: pointer;
}

.hotline a {
    color: #42844B;
    text-decoration: none;
}
.abs-top, .abs-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.abs-bottom {
    margin-top: 20px;
}

.col-item {
    width: 167px;
text-align: center;
}

.image-banhgai {
height: 187px;
width: 100%;
}

.image-banhgai img {
    width: 100%;
    height: 100%;
}

.content-folow {
    text-align: center;
    line-height: normal;
}

.item {
    padding: 0 !important;
}

.content-folow h4 {
    margin: 0 !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

header {
    margin-top: 30px;
}

.hotline,
i {
    color: #45894e !important;

}

.icon-follow ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-follow i {
    font-size: 25px;
}

.ic-fl {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 100%;
    border: 1px solid #42844B;
    margin-right: 10px;
}

.ic-fl {
    cursor: pointer;
}

.ic-fl:hover {
    background-color: #D8D2C2;
    color: #FAF7F0;

}

.ic-fl:hover i {
    color: #fff;

}

#title-main {
    /* width: 190px;
    height: 190px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    /* border: 5px solid #42844B; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.4); */
    cursor: pointer;
}


.hgf {
    text-align: center;
}

#abs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCE7AC;
    padding-top: 9px;
}

.sp-boy {
    position: relative;
    color: #45894e !important;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
}

.sp-boy::after {
    position: absolute;
    bottom: -7px;
    left: 0px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #45894e;
}

img {
    width: 100%;
}

.body {
    margin-top: 40px;
}

.item {
    text-align: center;
    cursor: pointer;
}

/* .item img {
    margin-bottom: 10px;
} */

.hotline-footer {
    position: fixed;
    bottom: 30px;
    left: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    background: #EB8317;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 900;
}

.hotline-footer i::before {
    font-size: 24px;
    color: #fff;
}

.hotline-footer p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.hotline-footer:hover {
    background-color: #33372C;
    color: #FF885B;
    transition: all .3s;
}

.hotline-footer:hover i::before {
    background-color: #33372C;
    color: #FF885B;
    transition: all .3s;
}

.trin-trin {
    animation-name: trin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes trin {

    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    20%,
    32%,
    44%,
    56%,
    68% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    23%,
    35%,
    47%,
    59%,
    71% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    26%,
    38%,
    50%,
    62%,
    74% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    29%,
    41%,
    53%,
    65%,
    77% {
        transform: rotate3d(0, 0, 1, -15deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

}

.item-address {
    display: flex;
    flex-direction: column;
}

.ad-ic,
.asd,
.map a {
    color: #45894e;
    font-size: 16px;
}

.add,
.phone {
    color: #000;
    font-size: 18px;
    cursor: pointer;
    /* margin-left: 5px; */
}

.map a {
    color: #45894e !important;
}

.list-address {
    margin-bottom: 18px;
    overflow: hidden;
}


.map-img {
    display: none;
}

a.link-map:hover .map-img {
    display: block;
}

.content-banhgai {
    font-size: 22px;
}

.content-banhgai h3 {
    font-size: 18px;
}

.address a {
    color: #000;
}

.nguyenlieulam li {
    list-style: unset !important;
}

.icon-follow a {
    display: flex;
    text-decoration: none;
}

.main-name {
    width: 350px;
    height: 100px;
    border-radius: 50% / 100%;
    border: 3px solid red;
    text-align: center;
    font-size: 37px;
}

.main-name a {
    color: #4CB050;
    text-decoration: none;
    font-weight: 600;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

#back-to-top {
    position: fixed;
    bottom: 13px;
    right: 20px;
    display: none;
    background-color: #EB8317;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    z-index: 1000;
}

#back-to-top:hover {
    background-color: #555;
}

.main-noti h4 {
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .main-content-banhgai {
        height: 700px;
        overflow-y: auto;
    }
}



.showblock {
    display: block;
}

@media only screen and (max-width: 768px) {
    .link-main-product {
        margin-bottom: 20px;
    }

    .content-banhgailangnghe img {
        height: auto;
        width: 100%;
    }

    .header .col-12 {
        margin-bottom: 20px;
    }

    .link-main-product {
        padding-left: 19px;
    }

    .content-folow h3 {
        font-size: 22px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
}

.col-md-4.address {
    margin-bottom: 62px;
}

.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}

@media only screen and (max-width: 492px) {
    .hotline-footer a {
        font-size: 16px !important;
    }

    .hotline-footer {
        position: fixed;
        bottom: 30px;
        left: 13px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: 500;
        background: #EB8317;
        padding: 7px 13x;
        border-radius: 20px;
        z-index: 900;
    }
}

.link-main-product ul li {
    list-style: unset !important;
}

.link-main-product ul li a {
    color: #000;
}

.link-main-product ::marker {
    /* color: blue; */
}

#products-banhgai {
    /* display: none; */
}

.link-main-product {
    margin-top: 20px;
}

.link-main-product ul li img {
    width: 30px;
    cursor: pointer;
}


.link-website {
    padding-left: 15px;
}

.link-website ul li {
    list-style: auto;
}

.content-banhgailangnghe h6 {
    font-weight: 700;
}

.content-banhgailangnghe span {
    font-style: italic;
    font-size: 14px;
}

.image-banhgailangnghe {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    background-color: #EEEEEE;
}

.content-banhgailangnghe img {
    height: auto;
    width: 100%;
}